.form{
    display: block;
    flex-direction: column;
    width: 225px;
    margin: auto;
    text-align: left;
    padding-top: 5px
}

.form input, .form button, .form textarea{
    width: 225px;
    background: var(--blue);
    color: var(--cyan);
    cursor: pointer;
}

.form input:focus{outline: var(--green);}

.inputOkay{
    border-color: var(--green);
    box-shadow: 0 0 5px var(--green);
}
.inputNotOkay{
    border-color: red;
    box-shadow: 0 0 2px red;
}
.errorP{
    color: red;
    font-size: 0.8em;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    position: absolute;
    transform: translateY(-11px);
}

.errorMessage{transform: translateY(-9px);}

.btn{
    border: 0;
    cursor: pointer;
    transition: 400ms;
    outline: solid #333 2px;
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
}
.btn:focus{
    outline-offset: -2px;
    outline-color: var(--green);
}
.btn:hover{
    outline-offset: -2px;
    outline-color: var(--green);
}

.deactivatedBtn:hover{
    background-color: var(--grey);
    color: red;
    outline: red;
    box-shadow: 0 0 3px red;
}


.formContact{
    padding-bottom: 8px;
    width: 300px;
    margin: auto;
    border-radius: 1em;
    border: black 2px solid;
    margin-bottom: 2em;
}

.aroundLine{
    position: absolute;
    bottom: 10px;
    left: -1px;
    right: -0.5px;
    top: 9px;
    margin: auto;
    z-index: -1;
}

.mailSent{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    background: var(--green);
    padding: 100px;
    display: block;
    transition: opacity 0.5s ease-in-out;
    color: white;
    border-radius: 1em;
}

.hide{display: none}
