.img_div{
    width: 120px;
    height: 120px;
}
.hide{opacity: 0}
.fade_in {
    opacity: 1;
    transition: opacity 5s;
}

.screen{
    width: 500px;
    position:static;
}

.my_name{
    font-size: 25px;
    animation-duration: 3s;
    animation-name: slideName;
    font-family: serif;
    font-weight: 400;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: var(--cyan);
    color: var(--blue);
    overflow-x: hidden;
    white-space: nowrap;
}
.my_name_light{-webkit-text-stroke-color: var(--navyBlue);}
@keyframes slideName{
    0%{
        margin-left: 200%;
    }
    100%{
        margin-left: 0%;
    }
}

.job_title{
    font-size: 1.8em;
    background-image: linear-gradient(90deg, yellow, orange, red, purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation-name: slideJob;
    animation-duration: 3.5s;    
    overflow-x: hidden;
    white-space: nowrap;
}
@keyframes slideJob{
    0%{
        margin-right: 200%;
    }
    100%{
        margin-right: 0%;
    }
}

.docs{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 2px solid black;
    padding: 8px 12px;
    margin: 0 5px;
    background: var(--blue);
    border-radius: 12px;
}

.docs:hover{
    border: 2px solid var(--green);
    background: var(--cyan);
    border-radius: 12px;
    color: var(--blue);
    text-decoration: none;
    transition: all 0.3s ease-in 0s;
}

.docs_light{
    color: var(--navyBlue);
    background: var(--cyan);
    border: white 2px solid;
}

.docs_light:hover{
    color: var(--cyan);
    background: var(--blue);
}
