body{top:0 !important; overflow-y: hidden;}
iframe{display:none !important; height:0;}
select option{color: var(--cyan); background-color: var(--purple) !important}
select{text-align: center; scrollbar-width:thin; scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);}
select::-webkit-scrollbar-track{background-color: var(--scrollbar-track-color);}
select::-webkit-scrollbar-thumb{background-color: var(--scrollbar-thumb-color);border-radius: 5px;}
.goog-te-combo{cursor: pointer !important;outline: none;background: var(--purple); width: 78px; border-radius: 1em !important;}
.goog-te-gadget{font-size: 0 !important;}
.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-aZ2wEe,.VIpgJd-ZVi9od-aZ2wEe-OiiCO, .VIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc, .VIpgJd-yAWNEb-l4eHX, .VIpgJd-suEOdc, .VIpgJd-yAWNEb-L7lbkb{display:none !important;}
