.navbar{
    position: fixed;
    top: 2px;
    left: 0;
    right: 0;
    user-select: none;
    z-index: 900;
}

.menu{
    display: flex;
    text-transform: uppercase;
    list-style: none;
    justify-content: center;
    border-radius: 1em;
}

.menu > li{
    display: inline-block;
    padding: 0 6px;
    font-weight: 900;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 1em;
}
.svg{cursor: pointer;}

.gray{
    color: rgb(75, 75, 75);
    margin: 0 6px;
    transform: translateY(-1.5px);
}

.active{border-radius: 1em;}

.dark_menu .active{color: var(--green);}
.dark_menu:not(.active){color: var(--cyan);}

.light_menu .active{color: var(--blue-dark);}
.light_menu:not(.active){color: var(--navyBlue);}

.light_deployed{
    color: var(--navyBlue) !important;
    background-color: var(--cyan) !important;
}

.menu_burger{
    width: max-content;
    flex-direction: column;
    transform: translateX(-150%);
    transition: transform 0.4s ease;
}

.burger_open{
    transform: translateX(5%);
    transition: transform 0.4s ease;
}

.dark_hover:hover{color: var(--blue); background-color: var(--green-light);}
.light_hover:hover{color: var(--cyan); background-color: var(--blue-dark);}

.presentation_parent:hover{border-radius: 1em 1em 0 0;}

.btnLang{
    cursor: pointer;
    margin-top: 2px;
}
.btnLang:hover{transform: scale(1.15);}
.darkModeSwitcher{
    outline: none;
    font-size: 18px;
}
.darkModeSwitcher:hover{
    transform: scale(1.15);
}

h1{text-align: center;}

.outlet{padding-top: 50px;}


.presentation_parent:hover .childsUl{
    outline: var(--green) 2px solid;
    color: var(--cyan);
    background: var(--blue);
    border-radius: 1em;
}
.transform_translate{transform: translateX(-45px)}

.childsUl_light{
    outline: var(--blue) 1px solid !important;
    color: var(--blue);
    background-color: var(--cyan);
}
.presentation_parent:hover .childsUl_light{
    outline: var(--blue) 2px solid;
    color: var(--navyBlue);
    border-radius: 1em;
}

.leftChild_light:hover, .rightChild_light:hover{
    color: var(--cyan)  !important;
    background-color: var(--blue) !important;
}

.leftChild:hover{
    border-radius: 1em 0 0 1em;
    color: var(--blue);
    background-color: var(--green-light);
}
.separator_unique{
    position: absolute;
    color: rgb(75, 75, 75);
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    transform: translate(-2.8px, -2.4px) !important;
}
.rightChild:hover{
    border-radius: 0 1em 1em 0;
    color: var(--blue);
    background-color: var(--green-light);
}

.hide{display: none;}

.subMenu{display: inline;}

.burger_subMenuParent{border-radius: 1em 0 0 1em !important;}
.burger_subMenuParent:hover .burger_subMenuUl{
    display: inline;
}

.burger_subMenuUl{
    display: none;
    transform: translate(6px, -4px);
}

.burger_leftChild, .burger_rightChild{display: block;}

.burger_leftChild{border-radius: 1em 1em 0 0 !important;}
.burger_rightChild{border-radius: 0 0 1em 1em !important;}