:root{
    --cyan: rgb(0, 255, 255);
    --navyBlue: rgb(0, 25, 50);

    --blue-light : rgb(0, 0, 255);
    --blue-dark: rgb(0, 0, 185);
    --blue: var(--blue-light);
}

.dark{
    background-color: var(--navyBlue);
    color: var(--cyan);
    --blue: var(--blue-dark);
}

.light{
    background-color: var(--cyan);
    color: var(--navyBlue);
    --blue: var(--blue-light);
}
