:root{
    --cyan: rgb(0, 255, 255);
    --navyBlue: rgb(0, 25, 50);

    --blue-light: rgb(0, 0, 255);
    --blue-dark: rgb(0, 0, 185);
    --blue: var(--blue-dark);

    --green-light : rgb(0, 255, 0);
    --green-dark: rgb(0, 140, 0);
    --green: var(--blue-dark);

    --grey: rgb(40, 40, 40);

    --scrollbar: var(--blue-light);
    --scrollbar_bg: var(--navyBlue);
}

.dark{
    color: var(--cyan);
    --blue: var(--blue-light);
    --green: var(--green-light); 
    --scrollbar: var(--blue-light);
    --scrollbar_bg: var(--navyBlue);
    background: linear-gradient(var(--blue), var(--navyBlue));
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% auto;
}

.light{
    color: var(--navyBlue);
    --blue: var(--blue-dark);
    --green: var(--green-dark);
    background: linear-gradient(var(--cyan), var(--blue-light));
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% auto;
    --scrollbar: var(--cyan);
    --scrollbar_bg: var(--blue-light);
}
