@import './styles/global.module.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{scroll-behavior: smooth}

p, h1, h2{cursor: default;}

.bg_hobbies{
    background-image: url('/img/bg/hobbies.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}