@import './styles/global.module.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_curriculum{
    background-image: linear-gradient(rgba(255, 255, 255, 0), var(--blue));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg_hobbies{
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2)), url('img/bg/hobbies.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}