@import './styles/global.module.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{width: 8px;}
::-webkit-scrollbar-track{background: var(--blue);}
::-webkit-scrollbar-thumb{
    background: var(--navyBlue);
    border-radius: 8px;
}

html{
    scroll-behavior: smooth;
    scrollbar-color: var(--scrollbar) var(--scrollbar_bg);
    scrollbar-width: thin;
    user-select: none;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

p, h1, h2, h5, h6{
    cursor: default;
    user-select: none;
}

.bg_hobbies{
    background-image: url('/img/bg/hobbies.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
